<h2>Tenants:</h2>

<ul>
<% @tenants.each do |tenant| %>
  <a href="/tenants/<%=tenant.id%>">
    <li><%= tenant.name %></li>
  </a>
<% end %>
</ul>

<button>
    <a href="/apartments"> All Apartments </a>
</button>